attrs==23.2.0
aws-cdk-lib==2.111.0
aws-cdk.asset-awscli-v1==2.2.201
aws-cdk.asset-kubectl-v20==2.1.2
aws-cdk.asset-node-proxy-agent-v6==2.0.1
aws-cdk.aws-glue-alpha==2.111.0a0
boto3==1.33.13
botocore==1.33.13
cattrs==23.1.2
certifi==2023.11.17
charset-normalizer==3.3.2
constructs==10.3.0
exceptiongroup==1.2.0
forex-python==1.8
idna==3.6
importlib-metadata==6.7.0
importlib-resources==5.12.0
jmespath==1.0.1
jsii==1.91.0
publication==0.0.3
python-dateutil==2.8.2
requests==2.31.0
s3transfer==0.8.2
simplejson==3.19.2
six==1.16.0
typeguard==2.13.3
typing_extensions==4.7.1
urllib3==1.26.18
zipp==3.15.0
